/*
  #1-0. Styling: 전역으로 적용할 CSS 작성 파일
  reset.css 등 여러 페이지에 걸친 스타일 적용할 때 사용
  전역 스타일링은 root 에서 관리하는 것이 용이하기 때문에
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
